.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  padding: 6.4rem 2.4rem;
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}

.empty svg {
  width: 5.6rem;
  height: 5.6rem;

  color: var(--gray-400);
}

.empty p {
  color: var(--gray-300);
}

.empty p:first-child {
  font-weight: 700;
}