.newTask{
  display: flex;
  gap: 8px;
}

.input {
  width: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1.6rem;

  color: var(--gray-100);

  &::placeholder {
    color: var(--gray-300);
  }
}

.button {
  display: flex;
  padding: 1.6rem;
  align-items: center;
  gap: 8px;

  border: 0;
  border-radius: 8px;
  background: var(--blue-dark);

  color: var(--gray-100);
  font-size: 1.4rem;
  font-weight: 700;

  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background: var(--blue);
  }
}